:root {
  --lightgrey: #f00;
  --header-height: 30px;
  --footer-height: var(--header-height, 30px);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  padding: 0.5vmin;
  background-color: #eee;
  background-color: var(--lightgrey, #eee);
}

header {
  height: var(--header-height, 60px);
}

header img {
  max-height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  text-align: center;
}